<canvas id="mainCanvas400" width="320" height="330" class="cssMainCanvas">
</canvas>
<canvas id="mainCanvas480" width="320" height="410" class="cssMainCanvas">
</canvas>

<table id="mainButtonsRow" border="0" width="320" style="position:absolute; left: 0px;">
    <tr>
        <td width="33%" align="center">
            <div id="main_btnClear" x-mojo-element="Button">
            </div>
        </td>
        <td width="33%" align="center">
            <div id="main_btnStep" x-mojo-element="Button">
            </div>
        </td>
        <td width="34%" align="center">
            <div id="main_btnRun" x-mojo-element="Button">
            </div>
        </td>
    </tr>
</table>
