<div class="palm-dialog-title" style="text-align:center;">
    Change Cell's Size
</div>
<div class="palm-dialog-separator">
</div>
<table>
    <tr>
        <td>
            Choose the cell's size (10-40). <b>Pay attention that all live cells will die!</b>
        </td>
        <td>
            <div id="inCellSize_picker" x-mojo-element="IntegerPicker">
            </div>
        </td>
    </tr>
</table>
<div class="palm-dialog-separator">
</div>
<table border="0" width="100%">
    <tr>
        <td width="50%" align="center">
            <div id="inCellSize_btnOK" x-mojo-element="Button">
            </div>
        </td>
        <td width="50%" align="center">
            <div id="inCellSize_btnCancel" x-mojo-element="Button">
            </div>
        </td>
    </tr>
</table>
