<div class="palm-dialog-title" style="text-align:center;">
    Restore From Saved State
</div>
<div class="palm-dialog-separator">
</div>
<table>
    <tr>
        <td>
            Choose a state:
        </td>
        <td>
            <div id="openState_list" x-mojo-element="ListSelector">
            </div>
        </td>
    </tr>
</table>
<table border="0" width="100%">
    <tr>
        <td width="50%" align="center">
            <div id="openState_btnOK" x-mojo-element="Button">
            </div>
        </td>
        <td width="50%" align="center">
            <div id="openState_btnCancel" x-mojo-element="Button">
            </div>
        </td>
    </tr>
</table>
