<div class="palm-dialog-title" style="text-align:center;">
    Save Current State
</div>
<div class="palm-dialog-separator">
</div>
<table>
    <tr>
        <td width="50">
            State Name:
        </td>
        <td>
            <div id="saveState_name" x-mojo-element="TextField">
            </div>
        </td>
    </tr>
</table>
<table border="0" width="100%">
    <tr>
        <td width="50%" align="center">
            <div id="saveState_btnOK" x-mojo-element="Button">
            </div>
        </td>
        <td width="50%" align="center">
            <div id="saveState_btnCancel" x-mojo-element="Button">
            </div>
        </td>
    </tr>
</table>
